@import url("./ObnulenieCSS.css");


body{
   background-image: url(..//IMG/yellow.jpeg);
}

.header{
	Width: 100%;
	Height: 50px;
}

.header__container{
	Max-width: 1900px;
	Margin: 0 auto;
}

.header__content{
	Text-align: center;
	Padding: 10px 5px 0 5px;
	Font-size: 45px;
	Font-weight: bold;
}

.Chapter{
	Width: 100%;
	Height: 90px;
}

.Chapter__container{
	Max-width: 350px;
	Margin: 0 auto;
}

.Chapter__content{
	Text-align: center;
	Font-size: 35px;
	Font-weight: bold;
	Padding: 30px 5px 20px 5px;
}

.main__text{
	Width: 100%;
}

.main__text__container{
	Width: 90%;
	Margin: 0 auto;
}

.main__text__content{
   Padding: 40px 0 0 0;
   font-size: 25px;
}

.button{
   width: 100%;
}

.button__container{
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.button_btn{
   width: 350px;
   height: 50px;
   background-color: rgb(10, 102, 177);
   margin: 25px 20px 10px 0;
   color: rgb(240, 234, 227);
   font-size: 20px;
   border-radius: 10px;
   font-weight: bold;
}
.button__content{
   display: flex;
}

@media (max-width: 1600px)
{
.header__container{
max-width: 1600px;
}
}

@media (max-width: 1440px)
{

}

@media (max-width: 1024px)
{
.main__text__content{
   font-size: 20px;
}
}

@media (max-width: 768px)
{

.header__content{

	Font-size: 35px;
}

.Chapter__content{

	Font-size: 25px;
}

.button__container{
   width: 80%;
   height: 85px;
}

.button__content{
   flex-direction: column;
}
.button_btn{
   margin: 10px 0 0 0;
}
}

@media (max-width: 435px)
{
.Chapter__content{
   padding: 50px 0 0 0;
}
.main__text__content{
   font-size: 18px;
}
}

@media (max-width: 375px)
{
.button_btn{
   width: 300px;
   height: 50px;
   background-color: rgb(10, 102, 177);
   margin: 5px 20px 10px 0;
   color: rgb(240, 234, 227);
   font-size: 20px;
   border-radius: 10px;
   font-weight: bold;
}
}

@media (max-width: 320px)
{
.button_btn{
   width: 250px;
   height: 50px;
   background-color: rgb(10, 102, 177);
   margin: 5px 20px 10px 0;
   color: rgb(240, 234, 227);
   font-size: 20px;
   border-radius: 10px;
   font-weight: bold;
}
}